/* Font-Families */

// @font-face
// 	font-family: 'Mono Social Icons Font'
// 	font-style: normal
// 	font-weight: normal
// 	src: url('../fonts/MonoSocialIconsFont-1.10.eot'),
// 			 url('../fonts/MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'),
// 			 url('../fonts/MonoSocialIconsFont-1.10.woff') format('woff'),
// 			 url('../fonts/MonoSocialIconsFont-1.10.ttf') format('truetype'),
// 			 url('../fonts/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg'),
// 			 url('../fonts/MonoSocialIconsFont-1.10.ttf') format('truetype')

@font-face {
    font-family: 'Sketch Fine Serif';
    src: url('../fonts/sketch_fine_serif-webfont.eot');
    src: url('../fonts/sketch_fine_serif-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sketch_fine_serif-webfont.woff2') format('woff2'),
         url('../fonts/sketch_fine_serif-webfont.woff') format('woff'),
         url('../fonts/sketch_fine_serif-webfont.ttf') format('truetype'),
         url('../fonts/sketch_fine_serif-webfont.svg#sketch_fine_serifregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
