/*

 --------------------------
|    Arquivo de conexão    |
| Entre as bibliotecas     |
| Usar após fazer inclusão |
|        via Grunt         |
 --------------------------

*/

monosocial()
	@extend $antialiasing
	font-family: 'Mono Social Icons Font'
