extends ./templates/tmpl
include ./mixins/lorem

block vars
	- var isLogged = false
	- var title = "Login"

block content
	main
		div.col-xs-12.np#lab
			div.ie-fix
				div.f-h
					div.tb
						div.in-tb
							div.wr.gradient
								div.logo.big
								span.col-xs-12.coming-soon coming soon
