block header
	section#header.col-xs-12.np
		div.container
			div.row
				i.fa.fa-flask
				//- a(href="#", title="Logo", aria-label="Logo", ref="home", target="_self").pull-left.logo#logo
				//- 	&nbsp;
				span.center.block haschel's lab
				a(href="mailto:ghaschel@gmail.com", title="Contact", aria-label="Contact", ref="nofollow", target="_blank").contact
					i.fa.fa-envelope
